<header class="app-header">
  <div class="header-container">
    <div class="logo">
      <span>Fitonyashka</span>
    </div>

    <nav class="menu-center">
      <ul class="menu-list">
        <li>
          <a [routerLink]="['/home/public/bmi']" class="menu-link">BMI</a>
        </li>
      </ul>
    </nav>

    <nav class="menu" [class.open]="menuOpen">
      <ul class="menu-list">
        <li>
          <a [routerLink]="['/auth/login']" class="menu-link">Sign In</a>
        </li>
        <li>
          <a [routerLink]="['/auth/register']" class="menu-link">Sign Up</a>
        </li>
      </ul>
    </nav>

    <button class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
